{% extends 'base.html' %}

{% block content %}

<section class="section">
    <h2>All Projects</h2>
    <div class="project-grid">
        {% for project in projects %}
        <a href="{% url 'project_detail' project.pk %}" class="project-card">
            {% if project.image %}
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
            {% endif %}
            <div class="card-body">
                <p class="card-tags">{{ project.tags }}</p>
                <h3>{{ project.title }}</h3>
                <p>{{ project.description|truncatewords:20 }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}
